<h2><%= @party.long_name %> Caucus</h2>
  
<% if !@party.house_group.nil? %>  
  <p>Side/Group: <%= @party.house_group %></p>
<% end %>
  <p>Leader: <%= @party.officer('Leader') %></p> 
  <p>House Leader: <%= @party.officer('House Leader') %></p> 
  <p>Whip: <%= @party.officer('Whip') %></p>  
  <p>Seats: <%= @party.ridings.count %></p>
  <p>Popularity: <%= @party.wallet.popularity %> %</p>
  <p>Treasury: $ <%= @party.wallet.cash %> </p>
  
  
<%= render 'forums/show' %>

<% content_for :head do %>
<script>
$(document).ready(function() {
  $('.refreshing').click(function() {
    location.reload();
  });
});
</script>
<% end %>

<% content_for :sectionmenu do %>
<li class="rightside"><%= link_to "New Discussion", { :controller => "discussions", :action => "new", :id => @party.forum.id } %></li> 
<% end %>


