<div style="float: right; width: 200px;padding:10px;font-size:10pt;">

<h3><%= @party.long_name %> Caucus</h3>
  
  <p><%= image_tag @party.letters+'.jpg' %></p>
  <p><em>Group:</em><br /><%= @party.house_group.name if !@party.house_group.nil? %></p>
  <p><em>Leader:</em><br /><%= @party.officer('Leader') %></p>
  <p><em>House Leader:</em><br /><%= @party.officer('House Leader') %></p>    
  <p><em>Party Whip:</em><br /><%= @party.officer('Whip') %></p> 

  <p><em>Seats:</em><br /><%= @party.seats %></p>
  <p><em>Members:</em><br /><%= @party.members.count %></p>
  <p><em>Popularity:</em><br /><%= @party.wallet.popularity.to_s + "%" if !@party.wallet.popularity.nil? %></p>
  <p><em>Clout:</em><br /><%= @party.wallet.clout.to_s if !@party.wallet.clout.nil? %></p>
  <p><em>Funds:</em><br /><%= "$" + @party.wallet.cash.to_s if !@party.wallet.cash.nil? %></p>
  
<div><%= link_to "Members List", "#" %></div>
</div>

<div style="padding: 10px;margin-top:1em;width: 450px;float: left;">
<%= render 'forums/show' %>
</div>  


<% content_for :sectionmenu do %>
<li class="rightside"><%= link_to "New Discussion", { :controller => "discussions", :action => "new", :id => @party.forum.id } %></li> 
<% if current_member.is_admin? %>
<li class="rightside"><%= link_to "Control Room", control_path %></li>
<% end %>  
<% end %>

