<% zone = ActiveSupport::TimeZone.new("Eastern Time (US & Canada)") %>
<% content_for :head do %>
<script>
$(document).ready(function() {
  $('.refreshing').click(function() {
    location.reload();
  });
});
</script>
<% end %>

<% if !@messages.empty? %> 
  <div id="message_table" style="margin-top:3em;">
  <table width="50%" align="center">
  <tr>
	  <th><%= @messages.reverse.first.subject %></th>
  </tr>	
  <% @messages.each do |m| %>
  <tr>
  <% if m.member.nil? %>
  	<td height="30" style="font-size:9pt;text-align:right;">Acting Speaker Owen Jones
	  <br />House of Commons
	<% else %>
	  <td height="30" style="font-size:9pt;text-align:right;"><%= m.member.main_role %>
	  <br /><%= m.member.constituency %>
	<% end %>
	  <br /><%= m.created_at.in_time_zone(zone).strftime("%I:%M%P on %B %d, %Y") %></td>
  </tr>
  <tr>
	  <td><%= m.body.html_safe %></td>
  </tr>
  <tr>
    <% if !m.member.nil? and m.member == current_member and m.created_at > 50.minute.ago(DateTime.now) %>
	  <td style="font-size:9pt;text-align:left;text-transform:uppercase;"><%= link_to "Change", edit_bill_message_path(@bill, :id => m.id)  %> | 
	  <%= link_to "Discard", bill_message_path(@bill, :id => m.id), :class => 'refreshing', :method => 'delete', :remote => true  %></td>
    <% end %>
  </tr>
  <% end %>
  </table>
  </div>
<% end %>

<% content_for :sectionmenu do %>
<li class="rightside"><%= link_to "Respond", new_bill_message_path(@bill), :method => 'get' %></li>
<li class="rightside"><%= link_to "Bill", bill_path(@bill) %></li>
<% end %>
