<%= form_for([@party, @message]) do |f| %>
<% if @subject == true %>
<div><%= f.label(:subject) %></div>
<div><%= f.text_area(:subject) %><div>
<% end %>
<div><%= f.label(:body) %></div>
<div><%= f.text_area(:body) %><div>
<div><%= f.submit "Respond" %><div>
<% end %>
