<% if @member.riding.nil? %>
<%= form_tag(:controller => 'profiles', :action => 'setconstituency', :method => 'post') %>
<div>Select a party</div>
<div><%= select_tag('party', options_from_collection_for_select(@parties, "id", "long_name")) %></div>
<div>Select a riding</div>
<div><%= select_tag('riding', options_from_collection_for_select(@ridings, "id", "name")) %></div>
<div><%= submit_tag "Set Riding" %><div>
<% else %>
<div style="right: 50%;text-size: 15 pt;margin-top: 1em;">You've already been elected to represent <%= @member.riding.name %>.</div>
<% end %>
