<div style="width:600px;margin: 0 auto;padding-top:30px;">
<h2>Editing Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <%= devise_error_messages! %>

  <p>Upload a <strong>picture</strong/> to represent your character in the game. It will be automatically resized and cropped. <em>Tip:</em> Images of file type .jpg, .png, .gif are accepted. Large square-ish shaped images are best.</p>
  <p><%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %></p>
  
  <p>Your character's <strong>first and last names</strong>. Try not to change these, it might confuse everyone.</p>
  <p><%= f.text_field :first_name %><%= f.text_field :last_name %></p>
  
  <p>Your <strong>email address</strong>, used to log in.</p>
  <p><%= f.email_field :email %></p>

  <p>Enter a <strong>description</strong> for your character, describing his background history: education, jobs, social life, hobbies, etc. This will be made public on your profile page.</p>
  <p><%= f.text_area :description, :class => 'mceEditor', 'style' => 'width:600px;' %></p><br />
  
  <p>For security reasons, please <strong>enter your password</strong> to allow this update to go through.</p>
  <p><%= f.password_field :password %></p>



  <p><%= f.submit "Update Profile" %></p>
<% end %>

</div>
