<div style="float: right; width: 200px;padding:10px;font-size:10pt;">

<h3><%= @profile %>, M.P.</h3>
  
  <p><%= image_tag @profile.avatar_url if @profile.avatar? %></p>
  <p><em>Current Title:</em><br /><%= @profile.main_role('long') %></p>
  <p><em>Party:</em><br /><%= @profile.party.long_name %></p>
<% if !@profile.riding.nil? %>  
  <p><em>Riding:</em><br /><%= @profile.riding.name %></p>
  
  <p><em>Province:</em><br /><%= @profile.riding.province.name %></p> 
<% end %>
  <p><em>First elected:</em><br /><%= @profile.created_at.strftime("%B %d, %Y") %></p>
  <p><em>Offices held:</em></p>
  <ul>
    <% @profile.roles.order('access_level DESC').each do |r| %>
    <li><%= r.long_name %></li>
    <% end %>
  </ul>
  <p><em>Popularity:</em><br /><%= @profile.wallet.popularity.to_s + "%" if !@profile.wallet.popularity.nil? %></p>
  <% if @profile == current_member %>
  <p><em>Clout:</em><br /><%= @profile.wallet.clout.to_s if !@profile.wallet.clout.nil? %></p>
  <p><em>Funds:</em><br /><%= "$" + @profile.wallet.cash.to_s if !@profile.wallet.cash.nil? %></p>
  <% end %>
  
<div><% if @profile == current_member %><%= link_to "Edit Profile", edit_member_registration_path %><% end %></div>
</div>

<div style="padding: 10px;width: 500px;">
<div style="text-align:justify;"><%= ("<p><strong>About #{@profile.first_name}</strong></p>" + @profile.description).html_safe if !@profile.description.nil? %></div>
<div style="clear: bottom;padding-top:100px;"><p><strong>Bills Authored</strong></p>
  <ul style="list-style-type: none;">
    <% @profile.bills.order('updated_at DESC').each do |b| %>
    <li><%= link_to b.to_s, bill_path(b) %>: <%= b.short_title %></li>
    <% end %>
  </ul>
  
  
</div>  


