<table>  
  <tr>  
    <th width="70%">Debate</th>  
    <th width="30%">Responses</th>  
  </tr>  
  <% for discussion in @discussions %>  
    <tr>  
      <td><h4><%= link_to h(discussion.subject), discussion_path(discussion.id) %></h4>  
        <small><%= discussion.messages.count %> responses</small></td>  
      <td class="right"></td>  
      <td><%= link_to "Show", forum %></td>  
      <td><%= link_to "Edit", edit_discussion_path(discussion) %></td>  
      <td><%= link_to "Discard", discussion, :confirm => 'Are you sure?', :method => :delete %></td>  
    </tr>  
  <% end %>  
</table>  
  
<p><%= link_to "New Forum", new_forum_path %></p> 

<% content_for :head do %>
<style>
	table tr th {background:#222; color:#fff; padding:0; border:#111 solid 1px;}  
	table tr td {border:1px #ccc solid; padding:5px;}  
	table tr td.right {background: #eee;}  
	table tr td h4 {margin:0; padding:0; font-weight:normal;}  
</style> 
<% end %>
