<% if !HouseSession.current_session.nil? %>
  <h3>Commons Motions</h3>
  <%= image_tag "motions.jpg" %>
	<table width="100%" style="margin-top:2em;" border=0 cellspacing=0>
		<tr>
			<th colspan="3">Motions on Order Paper</th>
		</tr>
	<% @ordermotions.each do |b| %>
	<tr>
	<td rowspan="2" style="border-bottom: solid 1px black;"><%= link_to b.to_s, motion_path(b), :class => 'bill' %></td>
	<td width="80%" colspan="2" class="shortname"><%= b.body[1..100] %><% if b.confidence %><br /><em>(Confidence)</em><% end %></td>
	</tr>
	<tr>
	<td width="50%" style="text-decoration: none;font-size:9pt;border-bottom: solid 1px black;"><%= b.member.prefix %> <%= b.member %>, MP <em><%= b.member.party %></em>
	<br /><%= b.member.main_role('long') %><% if signed_in? and current_member.cabinet? %><br />
	<%= link_to 'Make Confidence Vote', confidence_bill_path(b), :method => :put, :confirm => 'You certain you want to make this bill a vote of confidence in the government? No turning back!', 'style' => 'text-decoration: none;' %><% end %></td>
		<td style="text-decoration: none;font-size:9pt;text-align:right;border-bottom: solid 1px black;"><%= b.stage %><br /><%= b.stage.last_movement.strftime("%B %d, %Y")%></td>
	</tr>
	
	<% end %>
	
	</table>
	
	<table width="100%" style="margin-top:2em;" border=0 cellspacing=0>
		<tr>
			<th colspan="3">Motions on Notice Paper</th>
		</tr>
	<% @noticemotions.each do |b| %>
	<tr>
	<td rowspan="2" style="border-bottom: solid 1px black;"><%= link_to b.to_s, motion_path(b), :class => 'bill' %></td>
	<td width="80%" colspan="2" class="shortname"><%= b.body[1..100] %><% if b.confidence %><br /><em>(Confidence)</em><% end %></td>
	</tr>
	<tr>
	<td width="50%" style="text-decoration: none;font-size:9pt;border-bottom: solid 1px black;"><%= b.member.prefix %> <%= b.member %>, MP <em><%= b.member.party %></em>
	<br /><%= b.member.main_role('long') %><% if signed_in? and current_member.cabinet? %><br />
	<%= link_to 'Make Confidence Vote', confidence_bill_path(b), :method => :put, :confirm => 'You certain you want to make this bill a vote of confidence in the government? No turning back!', 'style' => 'text-decoration: none;' %><% end %></td>
		<td style="text-decoration: none;font-size:9pt;text-align:right;border-bottom: solid 1px black;"><%= b.stage %><br /><%= b.stage.last_movement.strftime("%B %d, %Y")%></td>
	</tr>
	
	<% end %>
	
	</table>
	
	<% content_for :sectionmenu do %>
	<li class="rightside"><%= link_to("New Motion", new_motion_path) if signed_in? %></li>
	<% end %>
	
<% else %>
<div style="font-size:15pt;text-align:center;margin-top:1em;">Parliament not in session.</div>
<% end %>

<style>
a.bill { text-decoration: none; border-bottom:1px dotted;}
.shortname { 
  font-size: 11pt;
}


</style>
