<html>
<body>

<%= form_for(@bill) do |f| %>

<%= f.label :bill_type %>
<%= f.select(:bill_type, @bill_options) %>

<%= f.hidden_field(:house, :value => '1') %>

<%= f.label(:short_title) %>
<%= f.text_field(:short_title) %>

<%= f.label(:long_title) %>
<%= f.text_field(:long_title) %>

<%= f.label(:preamble) %>
<%= f.text_field(:preamble) %>

<%= f.submit %>

<% end %>

</body>
</html>
