
<%= form_for(@bill) do |f| %>
<div><%= f.label :bill_type %></div>
<div><%= f.select(:bill_type, @bill_options) %></div>
<%= f.hidden_field(:house, :value => '1') %>
<div><%= f.label(:short_title) %></div>
<div><%= f.text_field(:short_title) %></div>
<div><%= f.label(:long_title) %></div>
<div><%= f.text_field(:long_title) %></div>
<div><%= f.label(:preamble) %></div>
<div><%= f.text_area(:preamble, :class => 'mceEditor') %><div>
<div><%= f.submit %><div>
<% end %>
