
<div style="font-size:9pt;text-align:center;"><%= @bill.house_session.session.ordinalize %> Session, <%= @bill.house_session.legislature.ordinalize %> Parliament,<br /><%= @regal_style %></div>
<div style="text-align:Center;font-weight:bold;margin-top:48pt;margin-left:0em;">
	<% if @bill.house == 2 %>
		<%= "SENATE" %>
	<% else %>
		<%= "HOUSE OF COMMONS" %>
	<% end %>
</div>
<h2 align="center"><%= @bill %></h2></ br>
<SPAN STYLE="text-transform: uppercase;"><div style="font-size:9pt;text-align:center;"><%= @bill.stage %>, <%= @bill.stage.last_movement.strftime("%B %d, %Y") %></div></SPAN>
<br /><br />
<div style="font-size:9pt;text-align:center;"><strong>Sponsor:</strong> <%= @bill.member.first_name.first %>. <%= @bill.member.last_name %>, M.P.</div> 
<br /><div id="progressbar" style="width:400px;" align="center"></div>


<div style="text-indent:-22pt;text-align:justify;margin-top:32pt;margin-bottom:5pt;margin-left:22pt;"><%= @bill.long_title %></div>
<div style="text-indent:1em;text-align:Justify;margin-top:5pt;margin-left:0em;"><%= simple_format(@bill.preamble).html_safe %></div>

<p>NOW, THEREFORE, Her Majesty, by and with the advice and consent of the Senate and House
	of Commons of Canada, enacts as follows:</p>

<% @bill.provisions.order('article ASC').each do |section| %>

<div style="margin-bottom:5pt;margin-left:22pt;"><strong><%= section.article %>.</strong> <%= section.text.html_safe %></div>
<div style="font-size:9pt;margin-left:25pt;"><em>In effect: <%= section.enacted? %></em></div> 

<% end %>

<div id='yeas'><%= @yeas %></div>
<div id='nays'><%= @nays %></div>
<div id='abs'><%= @abs %></div>



<%= button_to 'Vote Yea', ballots_path(:stage => @bill.stage.id, :vote => 1), :id => 'yea', :method => 'post', :remote => true %>
<%= button_to 'Vote Nay', ballots_path(:stage => @bill.stage.id, :vote => 2), :id => "nay", :method => 'post', :remote => true %>
<%= button_to 'Abstain', ballots_path(:stage => @bill.stage.id, :vote => 3), :id => "abst", :method => 'post', :remote => true %>


