<div style="margin-top: 2em" align="center">Control Room</div>
<div style="right: 50%; margin-top: 2em;" align="center">
<table>
<tr>
<td colspan=3>His Excellency's Magic Buttons</th>
</tr>
<tr>
<td><%= button_to "Open Parliament", parliament_path, :method => 'post' %></td>
<td><%= button_to "Prorogue Parliament", parliament_path, :method => 'put' %></td>
<td><%= button_to "Dissolve Parliament", parliament_path, :method => 'delete' %></td>
</tr>

<tr>
<td colspan=3>Assignment of Roles</td>
</tr>

<%= form_tag role_control_path, :method => 'post', :confirm => true do %>
<td><%= select_tag(:member_id, options_from_collection_for_select(Member.all, :id, :last_name)) %></td>
<td><%= select_tag(:role_id, options_from_collection_for_select(Role.all, :id, :short_name)) %></td>
<td><%= submit_tag 'Grant title', :confirm => 'If that member already has the selected role, you will remove it from him. Otherwise, you grant him that role. Go ahead?' %></td>
<% end %></tr>
</table>


</div>


