<%= form_for([@bill, @provision]) do |f| %>
<div><%= f.label(:article) %></div>
<div><%= f.text_field(:article) %></div>
<div><%= f.label(:text) %></div>
<div><%= f.text_area(:text, :class => 'mceEditor') %></div>
<div>In effect</div>
<div><%= f.select(:in_effect, {'Royal Assent' => 1, 'Order-in-Council' => 2, 'Set Date' => 3}, :id => "effect") %></div>
<div id="datelabel">Select a date</div>
<div><%= f.text_field(:effect_date) %></div>
<div><%= f.submit %><div>
<% end %>


<% content_for :bottom do %>
<script>
$(function() {
	$("#provision_effect_date, #datelabel").hide();
	$("#provision_effect_date").datepicker();
	$('#provision_in_effect').change(function() {
    ($(this).val() == '3') ? $('#provision_effect_date, #datelabel').show('puff') : $('#provision_effect_date, #datelabel').hide();
	}); 
});
</script>
<% end %>

